<!DOCTYPE html>
<html>
  <head>
    <title>Muuv</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="background-image-<%= (1..5).to_a.shuffle[0] %>">
    <%= yield %>
  </body>
</html>
