<!DOCTYPE html>
<html>
  <head>
    <title>Muuv</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Supo7gTtIjC8R6iANlG-BVdpKOOzG38&libraries=places"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
